VITE_USER_SERVICE_URL=https://medication-user-service.onrender.com
VITE_MEDICATION_SERVICE_URL=https://medication-medication-service.onrender.com
VITE_NOTIFICATION_SERVICE_URL=https://medication-notification-service.onrender.com
