PORT=4002
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=medication_service
USER_SERVICE_URL=http://localhost:4001
NOTIFICATION_SERVICE_URL=http://localhost:4003
