MONGODB_URI=mongodb://sofiaterr:Terrazas1@ac-x8sdsev-shard-00-00.dxo2xwl.mongodb.net:27017,ac-x8sdsev-shard-00-01.dxo2xwl.mongodb.net:27017,ac-x8sdsev-shard-00-02.dxo2xwl.mongodb.net:27017/?ssl=true&replicaSet=atlas-62gvhb-shard-0&authSource=admin&appName=MyFirstCluster
MONGODB_DB=medication_user_service
PORT=4001